//color-vars
$dark-green: #507255;
$dark-blue: #030407;
$light-grey: #DDE0BD;
$light-orange: #F79F22;
$white: #FFFFFF;
$light-blue: #84B6E4;
$linear-grad: linear-gradient(43deg, $light-blue, #C850C0, $light-orange);

// font-vars
$hand-type: 'Lumanosimo', cursive;
$standart-mons: 'Montserrat', sans-serif;